html
{
  font: 12px/14px Menlo, Monaco, Bitstream Serif, Serif;
}
h2
{
  margin: 0px;
  padding: 6px;
  background-color: #dfa;
  color: #444;
}
h2 .test-count
{
  color: #777;
  font-size: 70%;
  font-style: italic;
  float:  right;
}
table
{
  border-collapse: collapse;
  width: 100%;
}
td
{
  vertical-align: top;
  padding: 2px 8px;
  border: 1px solid #ddd;
}
td.result
{
  font-weight: bold;
  font-variant: small-caps;
  text-align:  right;
}
tr.ok td.result
{
  background-color: #e0ffd0;
}
tr.not.ok td.result
{
  background-color: #ff9070;
}
td.message
{
  color:  #000;
  font-size: 80%;
  font-family: 
}
span.message-part
{
  display: block;
}
/*.invisible
{
  display: none;
}*/