html
{
  font: 12px/12px Menlo, Monaco, Bitstream Serif, Serif;
}
h2
{
  font: 12px/12px Menlo, Monaco, Bitstream Serif, Serif;
  font-weight: bold;
  margin: 0px;
  padding: 6px 0;
  color: #222;
}
h2 .test-count
{
  color: #777;
  font-size: 70%;
  font-style: italic;
  float: right;
}
table
{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
td
{
  vertical-align: top;
  padding: 2px 8px;
  border: 1px solid #eee;
}
td.result
{
  font-weight: bold;
  font-variant: small-caps;
  text-align: right;
  width: 1px;
}
tr.ok td.result
{
  background-color: #e0ffd0;
}
td.description
{
  color: #999;
}
tr.not.ok td.result
{
  background-color: #ff9070;
}
tr.not.ok td.description
{
  color: #000;
}
td.messages
{
  color: #000;
  font-size: 80%;
  width: 5px;
}
span.message-part
{
  display: block;
}